// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-200: #e9ecef !default;
 $gray-300: #dee2e6 !default;
 $gray-400: #ced4da !default;
 $gray-500: #adb5bd !default;
 $gray-600: #868e96 !default;
 $gray-700: #495057 !default;
 $gray-800: #343a40 !default;
 $gray-900: #212529 !default;
 $black:    #000 !default;

$primary: #1174a5;
//$success: #48ca3b;
//$info: #4d3a7d;
//$warning: #debb27;
//$danger: #df6e1e;

$theme-colors: (
 	"primary":        	#1174a5 //,
// 	"secondary": 		#dddddd,
// 	"success":         	#5cb85c,
// 	"info":           	#5bc0de,
// 	"warning":         	#f0ad4e,
// 	"danger":          	#d9534f,
//	"light":			#ffffff,
// 	"dark":				#000000
);

// Options
// Spacing

// Body
//$body-color: $gray-800;

// Links
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$font-family-sans-serif: Lato, sans-serif;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

// Tables
//$table-border-color: #dddddd;

// Buttons
//$btn-default-color: #ffffff;
//$btn-default-bg: #3676c4;
//$btn-default-border: #3676c4;

//$btn-primary-color: #ffffff;
//$btn-primary-bg: #3676c4;

// Forms
//$input-border: #dddddd;
// Dropdowns
$dropdown-bg: #1376a8;
$dropdown-link-color: $gray-200;
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: darken(#1376a8, 10%);
$dropdown-link-active-bg: #ffffff;
$dropdown-header-color: #fff;
// Navs
// Navbar
$navbar-height: 30px;
//$navbar-dark-color: #ffffff;
//$navbar-dark-bg: #1f5daa;
$navbar-primary-bg: #28aae1;
//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

// Navbarlinks ??
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #f9f9f9;
$navbar-dark-hover-bg: darken($primary, 6.5%);
$navbar-dark-active-color: #ffffff;
$navbar-dark-active-bg: darken($primary, 6.5%);
$navbar-dark-disabled-color: #cccccc;

// Pagination
// Jumbotron
// Cards
$card-heading-bg: transparent;
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
