// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Grape theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$imagePathTop: "../../../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #df8ebf
$side-column-panel-heading-border-color: #bc2f84;
$side-column-panel-heading-border-width: 0 0 1px 0;
$side-column-panel-title-color: #bc2f84;
//#672150
$header_outer-background: url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container-background: url('#{$imagePathTop}header_left.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$form-control-background: #f4dded;
$form-control-border-colors: #e4afd3 #faf1f8 #faf1f8 #e4afd3;
$footer-color: #f4f4f4;
$footer-border-color: #a52873;
$footer-link-color: #a52873;
$navbar-default-navbar-nav-li-a-background: #a82a76;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;

.navbar-nav > li.dropdown {
	border-bottom: 1px solid $btn-primary-bg;
}
