// $Id$ Custom variables for the FiveAlive theme

//$Id$
//Custom styles for a new theme.
// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary: #1174a5;
$secondary: $gray-600;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;


$theme-colors: (
 	"primary":        	#1174a5,
 	"secondary": 		$gray-600,
 	"success":         	#5cb85c,
 	"info":           	#5bc0de,
 	"warning":         	#f0ad4e,
 	"danger":          	#d9534f //,
//		"light":			#ffffff,
// 	"dark":				#000000
);

// Options
// Spacing

// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Fonts
$font-family-sans-serif: Arial, Verdana, Geneva, Helvetica, sans-serif;
$headings-font-weight: 700;

// Tables
$table-bg: transparent;
$table-bg-accent: #f9f9f9;
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;
$table-border-color: #dddddd;
//$table-head-bg: #292929;
//$table-border-color: #292929;

// Buttons
$btn-primary-color: #ffffff;
$btn-primary-bg: #2098cd;
$btn-primary-border: #cccccc;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: $secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

//$btn-primary-color: #ffffff;
//$btn-primary-bg: #3676c4;

// Forms
$input-focus-border-color: #66afe9;

// Dropdowns
$dropdown-link-color: $gray-200;
$dropdown-link-hover-color: darken($gray-200, 5%);
$dropdown-link-hover-bg: darken(#1376a8, 10%);
$dropdown-header-color: #fff;

// Navs
// Navbar
$navbar-height: 48px;
$navbar-light-color: $gray-900;
$navbar-light-bg: #040404;
$navbar-light-border: transparent;

//$navbar-dark-color: #ffffff;
//$navbar-dark-bg: #1f5daa;
//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

// Navbarlinks ??
//$navbar-dark-color: #ffffff;
//$navbar-dark-hover-color: darken(#fff, 10%);
//$navbar-dark-hover-bg: #3270bd;
//$navbar-dark-active-color: #ffffff;
//$navbar-dark-active-bg: #3270bd;
//$navbar-dark-disabled-color: #cccccc;

// Pagination
// Jumbotron
// Cards
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-heading-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //